<div class="card">
  <div class="top">
    <div class="profile-images">
      <img src="../../../assets/images/pic-circle.png" alt="" class="circle-av">
      <img src="../../../assets/images/avatar2.png" alt="" class="circle-av">
      <img src="../../../assets/images/avatar1.png" alt="" class="circle-av">
      <div class="circle-av plus">18</div>
    </div>
    <span class="whiteText">Too late to join</span>
  </div>
  <div class="txtHeader">Weekly Challenges</div>
  <div class="card-items">
    <div class="item">
      <div class="hexagon hex1"></div>
      <img src="../../../assets/images/1st.png" alt="" class="place">
      <div class="content">
        <div class="info">

          <p class="name">Roger Korsgaard <img src="../../../assets/icons/check.svg"
             alt=""></p>
          <div class="info-body">
          <div class="stats whiteText">
            <div class="alerts">
              20 <span>Alerts</span>
            </div>
            <div class="win-rate">
              85% <span>Win Rate</span>
            </div>
            <div class="yield">
              11% <span>Yield</span>
            </div>
          </div>
          <div class="income">
            <p class="main">+ $7,500</p>
            <p class="sub">48%</p>
          </div>
            </div>

        </div>
      </div>
    </div>
    <div class="item">
      <div class="hexagon hex2"></div>
      <img src="../../../assets/images/2nd.png" alt="" class="place">
      <div class="content">
        <div class="info">

          <p class="name">Charlie Herwitz <img src="../../../assets/icons/check.svg" alt=""></p>
          <div class="info-body">
            <div class="stats whiteText">
              <div class="alerts">
                20 <span>Alerts</span>
              </div>
              <div class="win-rate">
                85% <span>Win Rate</span>
              </div>
              <div class="yield">
                11% <span>Yield</span>
              </div>
            </div>
            <div class="income">
              <p class="main">+ $1,430</p>
              <p class="sub">25%</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="item">
      <div class="hexagon hex3"></div>
      <img src="../../../assets/images/3rd.png" alt="" class="place">
      <div class="content-red">
        <div class="info">

          <p class="name">Ahmad Mango</p>
          <div class="info-body">
            <div class="stats whiteText">
              <div class="alerts">
                20 <span>Alerts</span>
              </div>
              <div class="win-rate">
                85% <span>Win Rate</span>
              </div>
              <div class="yield">
                11% <span>Yield</span>
              </div>
            </div>
            <div class="income">
              <p class="main red">- $1,500</p>
              <p class="sub red">10%</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="featured">
    <div class="avatar">
      <img src="assets/images/avatar4.png" class="avatarFeatured" alt="">
      <div class="res-avatar">
      <p class="featured-name">Roger K</p>
      <span class="featured-nick">@rog13k</span>
      </div>
    </div>
    <div class="result">
      <div class="icon-box">
        <img src="../../../assets/icons/x-circle.svg" alt="" class="resultIcon">
      <div class="res-avatar">
      <p class="featured-name">20,000</p>
      <span class="featured-nick"> @xBits prize</span>
      </div>
      </div>

    </div>
    <div class="days">
      <div class="num">
        3
      </div>
      <div class="days-cont">
        <p class="txt-days">Days</p>
        <span class="past">past</span>
      </div>

    </div>
  </div>
  <button class="btnView">VIEW</button>
</div>
<div class="card">
  <div class="top">
    <div class="profile-images">
      <img src="../../../assets/images/pic-circle.png" alt="" class="circle-av">
      <img src="../../../assets/images/avatar2.png" alt="" class="circle-av">
      <img src="../../../assets/images/avatar1.png" alt="" class="circle-av">
      <div class="circle-av plus">18</div>
    </div>
    <span class="whiteText">Too late to join</span>
  </div>
  <div class="txtHeader second">Double Gain Week Contest</div>
  <div class="card-items">
    <div class="item">
      <div class="hexagon hex4"></div>
      <img src="../../../assets/images/1st.png" alt="" class="place">
      <div class="content">
        <div class="info">

          <p class="name">Roger Korsgaard <img src="../../../assets/icons/check.svg" alt=""></p>
          <div class="info-body">
            <div class="stats whiteText">
              <div class="alerts">
                20 <span>Alerts</span>
              </div>
              <div class="win-rate">
                85% <span>Win Rate</span>
              </div>
              <div class="yield">
                11% <span>Yield</span>
              </div>
            </div>
            <div class="income">
              <p class="main">+ $7,500</p>
              <p class="sub">48%</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="item">
      <div class="hexagon hex2"></div>
      <img src="../../../assets/images/2nd.png" alt="" class="place">
      <div class="content">
        <div class="info">

          <p class="name">Charlie Herwitz <img src="../../../assets/icons/check.svg" alt=""></p>
          <div class="info-body">
            <div class="stats whiteText">
              <div class="alerts">
                20 <span>Alerts</span>
              </div>
              <div class="win-rate">
                85% <span>Win Rate</span>
              </div>
              <div class="yield">
                11% <span>Yield</span>
              </div>
            </div>
            <div class="income">
              <p class="main">+ $1,430</p>
              <p class="sub">25%</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="item">
      <div class="hexagon hex3"></div>
      <img src="../../../assets/images/3rd.png" alt="" class="place">
      <div class="content-red">
        <div class="info">

          <p class="name">Ahmad Mango</p>
          <div class="info-body">
            <div class="stats whiteText">
              <div class="alerts">
                20 <span>Alerts</span>
              </div>
              <div class="win-rate">
                85% <span>Win Rate</span>
              </div>
              <div class="yield">
                11% <span>Yield</span>
              </div>
            </div>
            <div class="income">
              <p class="main red">- $1,500</p>
              <p class="sub red">10%</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="featured">
    <div class="avatar">
      <img src="assets/images/avatar4.png" class="avatarFeatured" alt="">
      <div class="res-avatar">
        <p class="featured-name">Roger K</p>
        <span class="featured-nick">@rog13k</span>
      </div>
    </div>
    <div class="result">
      <div class="icon-box">
        <img src="../../../assets/icons/x-circle.svg" alt="" class="resultIcon">
        <div class="res-avatar">
          <p class="featured-name">20,000</p>
          <span class="featured-nick"> @xBits prize</span>
        </div>
      </div>

    </div>
    <div class="days">
      <div class="num">
        3
      </div>
      <div class="days-cont">
        <p class="txt-days">Days</p>
        <span class="past">past</span>
      </div>

    </div>
  </div>
  <button class="btnView">VIEW</button>
</div>
