<main>
  <div class="profile">
    <img src="assets/images/profile-background.png" alt="profile-picture" class="profileImg"/>
    <span class="initials">AG</span>
    <div class="col">
      <p class="whiteText txtName">Alex G</p>
      <div class="details">
        <span class="whiteText det-child">
        <img src="../assets/icons/x-icon.svg" alt="x">
          3000 xBits
        </span>
        <span class="whiteText det-child">
          <img src="../assets/icons/crown.svg" alt="crown">
          85
        </span>
      </div>
    </div>
      <img src="../assets/icons/addProfile.svg" alt="" class="addProfile">
  </div>
  <p class="txt-h2">Competitions</p>
  <div class="cards">
    <app-card></app-card>
    <img src="../assets/icons/add.svg" alt="add" class="btnAdd">

  </div>
</main>
